.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 15px;
    gap:20px;
    height: 10vh;
}

.header > img {
    height: 100%;
    margin-right: auto;
}

.header > h1 {
    font-size: 1.875rem;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
}

.header > p, .form__container > label, .form > button {
    font-size: 1.25rem;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.form__container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 10px;
    margin: 20px;
}

.form__container > input {
    height: 4vh;
    border-radius: 6px;
}

.form > button {
    width: 80%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    height: 7vh;
    border-radius: 6px;
    padding: 10px 0px;
}

.mime-img {
    text-align: center;
}

.mime-img > img {
    width: 50vw;
}