.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 15px;
    gap:20px;
    height: 10vh;
}

.header > img {
    height: 100%;
    margin-right: auto;
}

.header > h1 {
    font-size: 1.875rem;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
}

.header > p, .form__container > label, .form > button {
    font-size: 1.25rem;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.form__container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 10px;
    margin: 20px;
}

.form__container > input {
    height: 4vh;
    border-radius: 6px;
}

.form > button {
    width: 80%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    height: 7vh;
    border-radius: 6px;
    padding: 10px 0px;
}

.mime-img {
    text-align: center;
    position: relative;
}

.mime-img > img {
    max-width: 100%;
    border-radius: 5px;
}

.mime-img__top, .mime-img__bottom {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.mime-img__bottom {
    bottom: 0;
}

.mime-img__top {
    top: 0;
}